<header class="p-4">
  <div class="flex space-x-5">
    <div class="w-1/2">
      <a href="/">
        <picture>
          <img alt="The text Miss Boston in gold letters for the logo."
            class="h-auto w-full object-contain"
            src="./assets/MissBoston_Logo_GoldHorizontal.png">
        </picture>
      </a>
    </div>
    <div class="w-1/2">
      <picture>
        <source srcset="./assets/header_crown.webp" type="image/webp">
        <img alt="Hands holding a crown."
          class="h-auto object-contain max-h-40"
          src="./assets/header_crown.png">
      </picture>
    </div>
  </div>
  <div>
    <div class="">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex space-x-8" aria-label="Tabs">
          <a href="/" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-lg font-medium">Home</a>
          <a href="./about.html" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-lg font-medium">About</a>
          <a href="./application.html" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-lg font-medium">Application</a>
          <a href="./news.html" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-lg font-medium">In the News</a>
          <a href="./sponsors.html" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-lg font-medium">Sponsors</a>
        </nav>
      </div>
    </div>
  </div>
</header>
